!!!5
%html
  %head
    %title Deltacloud Libvirt driver
    %link(rel="stylesheet" href="new.css") 
  %body
    %div{ 'data-role' => :page }
      = yield
      %div{ 'data-role' => :footer, :'data-theme' => 'a'}

